@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300;400;600;700&display=swap');
body{
    font-family:  'Quicksand', sans-serif;
    background-color:#fdfdfd;;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*cor vermelho mais forte que foi trocado #770c0c8*/

.logo { text-align: center;
background-color: #fdfdfd;}

header {
 background-color: #b41a27;
box-shadow: 0px 0.5px 5px;

}

.nav-bar{
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.nav-list{
    display: flex;
    align-items: center;
    
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 16.8px;
    align-items: center;
}

.nav-item{
    margin: 15px 10px;   
  
   
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-link:hover {
    color: #000000;
    border-bottom: 2px solid #15486E;
    font-weight: border;

}


/*submenu*/
.sub-menu{
    padding: 0;
    background-color: #f1f1f1;
    color: #000000;
}
.sub-menu:hover{
    background-color: #000000;
    color: #EEE;
}
.nav-bar .sub-menu{
    display: none;
}
 .nav-bar .sub-menu li:hover > ul{
    display: block;


}



/*pesquisar e area cliente8*/
#area:hover { color: #000000;
    background-color: #EEE;
    border-bottom: 10px #15486E; }
#area{
    background-color: #15486E;
    border-radius: 10px;
    text-decoration: none;
    color: #EEE;
    border: 1px solid #0a263c;
    padding:5px;
}

/*pro menu sumir*/

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}


/*vai aparecer só quando a tela tiver essa medida*/
@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
   
    .mobile-menu-icon button{
        background-color: transparent;
       
    
        font-size: 20px;
        border: none;
        cursor: pointer;
    }
    .mobile-menu-icon button img{
        width: 25px;
        height: 25px;
       position: relative;
        margin-top: 0.5%;
    }

    .mobile-menu ul{
        display: flex;
       
       flex-direction: column;
        text-align: center;
        margin-left: 32%;
       
        
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1rem 2rem;
    }
 
    .open{
        display: flex;
    }
    #area:hover { color: #000000;
        background-color: #EEE;
        border-bottom: 10px #15486E; }
    #area{
        background-color: #15486E;
        border-radius: 10px;
        text-decoration: none;
        color: #EEE;
    }
 
 }

    /*card localizacao rio
    .container-localizacao{
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
        font-family: 'Poppins';
       }
    
     .card-localizacao{
        width: 1000000px;
        height: 300px;
        margin-top: 100px;
        background-color: #113686;
    }
    
      .card-localizacao iframe{
        width: 450px;
        height: 300px;
        padding-right: 5px;
    }
    
    .card-body .card-title  {
      font-family: 'Poppins';
      color: #092256;
     
    }
 */



/************corpo**********/

/*card solucoes e planos*/
.titulo h4{
    text-align: center;
    margin-top: 2%;
    font-family: 'Poppins'; 
    font-size: 30px; 
}

.botao {
        
    display: block;
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    background-color: #15486E;
    border-radius: 10px;
    text-decoration: none;
    color: #EEE;
    

}
.botao:hover{
    color: #000000;
    background-color: #EEE;
    border-bottom: #15486E;
}
 



/*side principal*/
.slide{
    margin-top: 20px;
}

/*card localizacao rio
.container-localizacao{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Poppins';
   }

 .card-localizacao{
    width: 100000px;
    height: 400px;
    margin-top: 100px;
    background-color: #15486E;
  
    
}
/*mapa
.card-localizacao iframe{
    width: 350px;
    height: 300px;
   
    max-width: 500px;
    float: left;
    border: 5px solid #ffffff;
    border-radius: 10px;
}


.wrapper{
    margin: 150px auto;
    width: 70%;
    margin-top: 55px;
}
#localizacao{
    margin-top: 15px;
}

.text-bo p{
    font-size: 20px;
    
}
.botao-saiba{
   
    width: 50%;
    right: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    

}
*/



/*quem somos*/
.wrapper{
    margin: 150px auto;
    width: 70%;
    margin-top: 55px;
}
.wrapper h4{
    font-size: 42px;
    font-family: 'Poppins'; 
    padding: 5px;
}
#quemsomos{
    max-width: 500px;
    float: left;
    border: 5px solid #b41a27;
    border-radius: 10px;
   
}
.text-bo p{
    font-size: 20px;
    
}



/*

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}
*/





/*telefonia*/
.telefonia-seviços{
    text-align: center;
    margin-top: 2%;
}
#contrate{
    font-size: 17px;
    border: 10px;
    background-color: #15486E;
    color: #EEE;
    
    border-radius: 20px;
    width: 15%;
    right: 20px;
    text-decoration: none;
}
#contrate:hover{
    color: #000000;
    background-color: #EEE;
    border-bottom: #15486E;
}
.icons-telefonia{
    margin-top: 2%;
    padding-left: 20%;
}
#antena{
    padding: 4%;
}
#ciencia{
    padding: 4%;
}
#telefone{
    padding: 4%;
}

/*******************Fotter************/
footer{
    margin-top: 50px;

   
}
ul .mb-0{
    text-decoration: none;
    
}